//FONTS

@font-face {
  font-family: 'Playball';
  src: url('../fonts/Playball-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu-Regular';
  src: url('../fonts/Ubuntu-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('../fonts/Ubuntu-Bold.ttf')  format('truetype');
}