{% extends 'base.html.twig' %}

{% block title %}New Image{% endblock %}

{% block body %}
    <body class="container">
        <h1 class="text-center">Ajouter des images à<br>{{ product.name }}</h1>

        {{ include('image/_form.html.twig') }}

        <a href="{{ path('image_index') }}">back to list</a>
    </body>
{% endblock %}
