{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <body class="container bg-dark text-white mt-5">
        <h1 class="text-center">Ajouter un nouveau produit</h1>

        {{ include('shop/_form.html.twig') }}

        <a href="{{ path('shop_index') }}">back to list</a>
    </body>
{% endblock %}
