<!-- Contact-->
<section class="page-section" id="contact" style="background-color: white;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Entrons en contact!</h2>
                <hr class="divider my-4" />
                <p class="text-muted mb-5">Prêt à démarrer votre prochain projet avec nous? Appelez-nous ou envoyez-nous un e-mail et nous vous répondrons dans les plus brefs délais!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                <a class="d-block" href="tel:+33660319773" target="_blank">+336 60 31 97 73</a>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
                <a class="d-block" href="mailto:contact@brocenscene.com" target="_blank">contact@brocenscene.com</a>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="py-3" style="background-color: white;">
    <div class="container">
        <div class="small text-center text-muted">Brocenscene © Depuis 2018 - Site créé par Benkod.fr <a href="{{ path('mentions-legales') }}">Mentions legales</a></div>
    </div>
</footer>